*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navegacion{
    height: 90px;
    width: 100%;
    font-size: 17px;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    margin-top: -50px;
    backdrop-filter: blur(10px);
}

.navegacion .name{
    margin: 0 0 0 27px;
    font-size: 22px;
    cursor: pointer;
}

.navegacion ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px 0 0;
}

li{
    cursor: pointer;
    margin: 10px;
    padding: 7px 12px;
}

.list:hover{
    border-bottom: 2px solid rgb(0, 0, 0);
}

/* CONTENEDOR INFO */

.contenedor-info{
    border: 1px solid white;
    margin: 50px 0 60px 0;
    padding: 50px 0; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-prime{
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* animacion del texto del inicio*/
@keyframes textMove {
    3%{
        background-position: 70%;
    }
    100%{
        background-position: 350%;
    }
}

.info-prime .title-dev{
    font-size: 70px;
    cursor: pointer;
}

.info-prime .text-dev{
    background: linear-gradient(to bottom right,
    rgb(26, 96, 237), 
    rgb(110, 5, 215), 
    rgb(234, 31, 252));
    word-spacing: 5px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 400%;
    animation: textMove 10s infinite linear;
    cursor: pointer;
    transition: ease-in;
}


/* aqui termina la animacion de los textos */
.text-dev{
    font-size: 40px;
    font-weight: 600;
}

.second-text{
    margin-top: 10px;
    font-size: 30px;
}


.cont-icon img{
    height: 400px;
}

.btn-contact{
    display: flex;
}

.btn-contact div{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 50px;
    background-color: #7c3bed;
    cursor: pointer;
    margin: 10px;
}

.btn-contact div:hover{
    background-color: #5716c6;
}

.btn-contact div img{
    height: 30px;

}

/* SOBRE MI */

.sobre-mi{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title-sobreMi{
    font-size: 40px;
    margin: 70px 0;
}

.text-sobreMi{
    padding: 10px;
    color: #020202;
    width: 120vh;
    font-size: 19px;
}


/* TECNOLOGIAS */

.tecnologias{
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border-radius: 20px;
    padding: 20px;
}

.title-tecnologias{
    color: #020202;
    font-weight: 600;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.list-tecnologias{
    margin: 10px 0 0 0;
    color: #020202;
    font-family: 24px;
    font-weight: 600;
    display: flex;

}

li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.img-tec{
    width: 30px;
    height: 30px;
    margin: 8px 7px;
}

/* PROYECTOS */
.cont-proyectos{
    border-width: thick;
    margin-top: 160px;
    height: 900px;
}

.title-proyect{
    text-align: center;
    padding: 40px;
    font-size: 40px;
}

.mis-proyectos{
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    justify-content: center;
   
}

.cont-text{
    width: 300px;
    height: 350px;
}

.cont-card{
    width: 380px;
    margin: 25px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.55);
}

.cont-card .img-proyect{
    height: 300px;
    width: 380px;
    object-fit: cover;
    border-radius: 10px;
}

.card-title{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}

.cont-text{
    margin: 7px auto;
    padding: 15px 0;
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
}

/* boton git */
.proyect-git{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 50px;
    background-color: #7c3bed;
    cursor: pointer;
    margin: 13px auto;
}

.proyect-git:hover{
    background-color: #5716c6;
}

.proyect-git img{
    height: 30px;
}


.cont-card-tecno{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.cont-card-tecno p{
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
}

.tecno-img img{
    margin: 10px 18px 0 10px;
    width: 40px;
    height: 40px;
}

/* CONTACTO */
.contacto{
    margin: 150px 0 0px 0;
    padding: 0 0 80px 0;
    background-color: rgb(0, 0, 0);
}

.contact-form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
}

.title-contacto{
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 40px;
    font-size: 35px;
}

.contact{
    width: 70%;
    margin: 0 0 25px 0;
    height: 30px;
    font-size: 17px;
    border: none;
    border-bottom: 2px solid #7c3bed;
    background-color: rgb(0, 0, 0); 
    outline: none;
    color: rgb(255, 255, 255);
}

.contacto label{
    color: #ffffff;
    text-align: start;
}

.contact:active{
    border: none;
}

.btn{
    margin: 28px 0;
    width: 150px;
    height: 30px;
    background-color: #7c3bed;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    font-size: 16px;
}

.btn:hover{
    background-color: #5716c6;
}

