*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(9, 9, 15);
    color: white;
}

.navegacion{
    border: 1px solid beige;
    height: 70px;
    width: 100%;
    font-size: 20px;
    text-transform: capitalize;
}

.navegacion ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    margin: 20px;
    padding: 7px 12px;
}

/* CONTENEDOR INFO */

.contenedor-info{
    border: 1px solid white;
    margin: 120px 0 60px 0;
    padding: 50px 0; 
}

.info-prime{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-dev{
    font-size: 50px;
    margin: 10px;
    text-transform: uppercase;
}

.text-dev{
    font-size: 40px;
    font-weight: 600;
}

.second-text{
    margin-top: 10px;
    font-size: 30px;
}


.cont-contacto{
    display: flex;
    justify-content: space-around;
    margin: 100px 0 0 10px;
}

.redes{
    border: 1px solid beige;
    display: flex;
    align-items: center;
}

.redes a{
    padding: 0 15px;
}

.descargar{
    border: 1px solid white;
    background-color: azure;
    border-radius: 15px;
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.donwload{
    width: 20px;
    height: 30px;
    margin-right: 15px;
}

.descargar a{
    text-decoration: none;
    color: black;
}

/* SOBRE MI */

.cont-sobre-mi{
    border: 1px solid white;
    margin: 150px 0;
    padding: 50px 0;
}

.sobre-mi{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-sobreMi{
    margin-bottom: 30px;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-sobreMi{
    padding: 10px;
    border: 1px solid red;
    width: 120vh;
    text-align: justify;
    font-weight: 500;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* TECNOLOGIAS */

.tecnologias{
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-tecnologias{
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.list-tecnologias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.img-tec{
    width: 23vh;
    height: 30vh;
    margin: 8px 7px;
}